
<label>Seleccione el examen:</label>
<select id="examName"></select>
<div id= "groups"> </div>
<table id="selectedGroups"></table>
<div id= "users"> </div>
<table id="selectedUsers"></table>
<div class="control-group">
	<div class="controls">	
		<button id="add">Agregar</button>
		<button id="remove">Quitar</button>
		<!-- <button id="addGroup">Agregar Grupos</button> -->
		<!-- <button id="addUser">Agregar Usuarios</button> -->
		<!-- <button id="removeGroup">Quitar Grupos</button> -->
		<!-- <button id="removeUser">Quitar Usuarios</button> -->
		<!-- <button id="groupsToUsers">Convertir grupos a usuarios</button> -->
		<button id="continueToHome">Continuar</button>
	</div>
</div>

