<% content_for = "Create Exam Definition" %>

<div class="hero-unit">
	<h1>Definición de Examen</h1>

	<br />

	<%= render 'form' %>

	<% if @examDefinition.errors.any? %>
		<ul>
			<% for message_error in @examDefinition.errors.full_messages %>
			<li>- <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>