<% content_for = "Sign Up" %>

<div class="hero-unit">
	<h1>Registro de nuevo usuario</h1>

	<%= render 'form' %>

	<% if @user.errors.any? %>
		<ul>
			<% for message_error in @user.errors.full_messages %>
			<li>- <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>