<div class="table">
  <% if @masterExams != nil %>
    
    <%= table_for @masterExams, html: {id: 'exams', class: 'summary table table-striped table-bordered table-condensed'} do -%>
      <% column title: 'Nombre' do |masterExam| %>
        <% link_to(masterExam.name, create_exam_path(masterExam.id), confirm: "Are you sure?") %>
      <% end %>
      <% column :attempts, title: 'Intentos máximos' %>
      <% column :startDate, title: 'Inicio' %>
      <% column :finishDate, title: 'Fin' %>
    <% end %>

  <% else %>
    
    <table class="table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <td style='text-align: center; height: 60px; vertical-align: middle;'><span style='font-size: 30px; font-color: black; font-weight: bold;'>No hay exámenes disponibles</span></td>
        </tr>
      </tbody>
    </table>
  
  <% end %>
</div>