<div class="hero-unit">
	<h3 style="text-align: center;">Exámen</h3>

	<%= render 'form_show' %>

	<% if check_admin %>
		<%= link_to "Regresar", request.referer, {class: "btn"} %>
	<% else %>
		<%= link_to "Regresar", request.referer, {class: "btn"} %>
	<% end %>

	<% if @exam.errors.any? %>
		<ul>
			<% for message_error in @exam.errors.full_messages %>
			<li>- <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>